{{- define "ensure_sudoers" -}}
{{- if .Sudo -}}
{{- $sudoersFile := .SudoersFile -}}
{{- $sudoersLine := .SudoersLine -}}
printf '%s\n' {{ shellEscape $sudoersLine }} > {{ shellEscape $sudoersFile }}
chmod {{ .SudoersMode }} {{ shellEscape $sudoersFile }}
chown root:root {{ shellEscape $sudoersFile }}
{{- end -}}
{{- end -}}
